.todo-app-container {
  margin-left: 4.4rem;
  margin-right: 2rem;
  margin-top: 3rem;
}

.todo-app-content {
  margin-top: 2rem;
  width: 100%;
}

.title {
  color: #43C19F;
  font-size: 1.3rem;
  padding: 1rem;
}